In [5]:
# parenthesis doesn't create the tuple, it's the comma
# it's just to make it clearer

a = (1, 2, 3)
b = 1, 2, 3

print(type(a))
print(type(b))

c = (1)
print(type(c))

d = (1,)
print(type(d))

# the exception is empty parenthesis
e = ()
print(type(e))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [16]:
# packed values are values bundled together
t = (1,2,3)
l = [1,2,3]
s = "123"
s1 = {1, 2, 3}
d1 = {"k1": 1, "k2": 2, "z1": 3, "z2": 4}

# unpacking is the act of splitting backed values into variables
a, b, c = t
print(a, b, c)

1 2 3

In [17]:
a, b, c = "XYZ"

In [18]:
a = 10
b = 20

# this swap works because the entire right hand side is evaluated before assignments happen
b, a = a, b
print(b, a)

10 20

In [19]:
a, b, c, d = d1
print(a, b, c, d)

k1 k2 z1 z2

In [20]:
a, b, c, d = d1
print(a, b, c, d)

k1 k2 z1 z2

In [21]:
a, b, c, d = d1
print(a, b, c, d)

k1 k2 z1 z2

In [22]:
a, b, c, d = d1
print(a, b, c, d)

k1 k2 z1 z2

In [23]:
x = (a, b) = (1, 2)

In [24]:
x

(1, 2)

In [25]:
(a, b) = 1, 2

In [26]:
print(a, b)

1 2

In [27]:
a, b, c = "10", "a", 3.14

In [28]:
print(a, b, c)

10 a 3.14

In [29]:
for e in "XYZ":
    print(e)

X
Y
Z

In [31]:
a, b, c = "XYZ"
print(a, b, c)

X Y Z

In [32]:
s = {1, 2, 3}
s[0]

TypeError: 'set' object is not subscriptable

In [33]:
s = {"p", "y", "t", "h", "o", "n"}
print(s)

{'t', 'h', 'p', 'o', 'y', 'n'}

In [34]:
for e in s:
    print(e)

t
h
p
o
y
n

In [35]:
a, b, c, d, e, f = s

In [36]:
print(a,b,c,d,e,f)

t h p o y n